* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 15vh;
  align-items: center;
  background-color: #202028;
  color: #f6f7f8;
}

nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  text-transform: uppercase;
}

nav .nav-links a {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 1px solid #f6f7f8;
}

nav .burger {
  font-size: 28px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  nav .burger {
    display: block;
  }

  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #202028;
    padding: 40px;
    width: 50%;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
    z-index: 9999;
  }

  nav .nav-links li {
    padding: 25px;
    border-bottom: 1px solid #ccc;
  }

  nav .nav-links li:last-of-type {
    border-bottom: 0px solid #ccc;
  }

  nav .nav-links a:hover {
    border-bottom: 0px solid #f6f7f8;
  }
}
